doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="__description")
    link(rel="shortcut icon", href="img/icons/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="css/style.min.css")
    title __title
  body.body
    h1 Some
    //- Yout Scripts Here ▾
    script(src="//kit.fontawesome.com/75cf6d0aef.js")
    //- JQuery and pluggins
    script(src="js/libs/jquery.js")
    script(src="js/libs/jquery.lazy.js")
    //- If You Need (ES6) You Can Use .js from /app
    script(src="js/script.min.js") 