.navbar
  display: flex

.svg
  mask-size: cover
  mask-repeat: no-repeat
  background: #000

.lazy
  height: 400px
  background-size: cover
  background-color: none
  background-repeat: no-repeat
  background-position: center center