*
  margin: 0
  padding: 0
  float: none !important

*, *::after, *::before
  box-sizing: border-box

input, textarea, select, button, option, code
  font-family: inherit
  font-weight: inherit

input, textarea, select, button
  display: block 
  background: none
  background: #ffffff
  outline: none
  border: none
  border: 1px solid $reset--color-1

input, label
  display: inline-block

input[placeholder]
  +placeholders
    color: $reset--color-1
    opacity: 1

ul, ol
  padding: 5px

ul, ol > li, li
  list-style: none

textarea
  resize: none

select
  appearance: none !important
  cursor: pointer

a
  font-family: inherit 
  text-decoration: none 
  color: $fonts--color-1 
  &:hover
    text-decoration: underline

hr
  border: none
  border-bottom: 1px solid $reset--color-1
  outline: none
  opacity: .5

img
  display: block
  max-width: 100%
  object-fit: cover

// ! Typography
@import ./_typo