// ! This File Need To Include In All .sass(not _.sass) Files 
@import ./_important
// * Write or Include Your Styles Here ▾

body
  padding: 50px
  height: auto

a:hover
  text-decoration: none 

ul, ol
  padding: 0

// ! Media Queries Here Dont Touch MF 
@import ./_medias